root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{h,hpp,c,cc,cpp,cxx}]
indent_style = tab
indent_size = 4

[*.{cmake,json,md,yml,yaml,lua}]
indent_style = space
indent_size = 2
